{% extends 'admin_base.html.twig' %}

{% block title %}New Gigs{% endblock %}

{% block body %}
    <h1>Create new Gigs</h1>

    {{ include('gigs/_form.html.twig') }}

    <a href="{{ path('gigs_list') }}">back to list</a>
{% endblock %}
