{% extends 'admin_base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="panel panel-default">
      <div class="panel-heading">Create new Category</div>
      <div class="panel-body">
          {{ include('category/_form.html.twig') }}
      </div>

    <a href="{{ path('category_list') }}">back to list</a>
{% endblock %}
