{% extends 'base.html.twig' %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/pepperweb.png" alt="Pepperweb" /><span>pepperweb</span></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#featured">browse all gigs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#partner">become a partner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="inner-masthead text-white d-flex">
      <div class="container-fluid p-5">
        <div class="row">
          <div class="col-lg-8 mx-auto masthead-center">
            <p class="text-faded pepper-title">SOCIAL MEDIA</p>
            <h1>
              Twitter Growth
            </h1>
            <p>Grow your Twitter account with real & targeted followers.</p>
          </div>

          <div class="col-lg-4 mx-auto d-inline-block text-right my-auto masthead-center">
            <a href="#" class="d-inline-flex btn justify-content-end">PURCHASE THIS GIGS</a>
          </div>
        </div>
      </div>
    </header>

    <section class="p-0" id="inner-content">
      <div class="container-fluid p-5">
        <div class="row">
          <div id="slider" class="col-md-6">

                    <div id="myCarousel" class="carousel slide">
                      <!-- main slider carousel items -->
                      <div class="carousel-inner">
                          <div class="active item carousel-item" data-slide-number="0">
                              <img src="img/carousel/image1.jpg" class="img-fluid w-100">
                          </div>
                          <div class="item carousel-item" data-slide-number="1">
                              <img src="img/carousel/image2.jpg" class="img-fluid img-fluid w-100">
                          </div>
                          <div class="item carousel-item" data-slide-number="2">
                              <img src="img/carousel/image3.jpg" class="img-fluid img-fluid w-100">
                          </div>
                          <div class="item carousel-item" data-slide-number="3">
                              <img src="img/carousel/image4.jpg" class="img-fluid img-fluid w-100">
                          </div>

                          <!--
                            <a class="carousel-control left pt-3" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                            <a class="carousel-control right pt-3" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                          -->

                      </div>
                      <!-- main slider carousel nav controls -->


                      <ul class="carousel-indicators list-inline justify-content-between">
                          <li class="list-inline-item w-20 active">
                              <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
                                  <img src="img/carousel/image1-thumb.jpg" class="img-fluid">
                              </a>
                          </li>
                          <li class="list-inline-item w-20">
                              <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                                  <img src="img/carousel/image2-thumb.jpg" class="img-fluid">
                              </a>
                          </li>
                          <li class="list-inline-item w-20">
                              <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                                  <img src="img/carousel/image3-thumb.jpg" class="img-fluid">
                              </a>
                          </li>
                          <li class="list-inline-item w-20 ">
                              <a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
                                  <img src="img/carousel/image4-thumb.jpg" class="img-fluid">
                              </a>
                          </li>

                      </ul>
                    </div>
          </div>

          <div class="col-md-6">

            <div class="row">
              <div class="col-lg-8 col-md-12">
                <h2 class="d-block">Grow your Twitter</h2>
                <div class="d-inline-block reviews"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> 2,804 Reviews</div><div class="d-inline-block reviews">74 of 100 spots left</div>
              </div>
              <div class="col-lg-4 col-md-12 d-flex justify-content-end">
                <div class="category">Social Media / Twitter</div>
              </div>
            </div>

            <hr />


              <div class="gigs-content">
                <p>The Twitter Growth gig will help you to grow your Twitter following with relevant, targeted & real-life people. We use keywords and competitor pages to learn who your ideal customers would be, and then we'll use our tools to target these people and turn them into your followers. This gig works great for companies who post relevant & engaging Tweets on Twitter.</p>

                <h3>Will this work for me? </h3>

                <p>Yes. This will work for any Twitter account, but we encourage you to have relevant tweets for better results. Your followers will be real people relevant to your industry, so they'll be more willing to interact with you and visit your website if you have high quality, relevant tweets.</p>

                <h3>How to get started?</h3>

                <p>Click the 'purchase gig' button above and fill in the form with relevant information. You'll then begin to see results within 24 hours, growing in efficiency from there.</p>

                <h3>What happens after I purchase this gig?</h3>

                <p>After you purchase this gig, we'll begin setting up your Twitter campaign. We'll constantly monitor results and we'll tweak your campaign, adding more competitors and keywords where necessary. </p>
              </div>
            </div>
        </div>
      </div>

<div class="container-fluid p-5">

  <div class="row purchase-container">
    <div class="col-lg-4 col-md-6">
      <div class="gigs-purchase-blocs-item text-center">
        <img src="img/purchase-ico-1.png" />
        <h3>$55/month</h3>
        <p>250 - 3k+ followers monthly<br />
Real, genuine followers<br />
Targeted to your industry<br />
Cancel anytime</p>

        <a class="d-inline-flex btn purchase">purchase GIG</a>
      </div>
    </div>



    <div class="col-lg-4 col-md-6">
      <div class="gigs-purchase-blocs-item text-center">
        <img src="img/purchase-ico-2.png" />
        <h3>What we require?</h3>
        <p>Your Twitter username and password<br/>
A history of relevant tweets (recommended)<br/>
Information on your competitors.</p>

        <a class="btn purchase">purchase GIG</a>
      </div>
    </div>



    <div class="col-lg-4 col-md-6">
      <div class="gigs-purchase-blocs-item text-center">
        <img src="img/purchase-ico-3.png" />
        <h3>Who is service provider?</h3>
        <p>Growthstore staff will be providing this service.
        We'll work with you to integrate it into the website, and gather all the necessary information from you so that we can create the project page.</p>

        <a class="btn purchase">purchase GIG</a>
      </div>
    </div>
  </div>

</div>



    </section>


    <footer id="footer">
      <div class="container-fluid">
        <div class="col-md-12 mx-auto d-flex justify-content-center">
            <ul class="d-flex justify-content-center p-0">
              <li><a href="#">BROWSE ALL GIGS</a></li>
              <li><a href="#">BECOME A PARTNER</a></li>
              <li><a href="#">CONTACT US</a></li>
            </ul>
        </div>

        <div class="col-md-12 mx-auto d-flex justify-content-center">
            <ul class="d-flex p-0 social-icons">
                <li><a href="#" target="_blank"><img src="img/footer-ico-facebook.png" alt="" /></a></li>
                <li><a href="#" target="_blank"><img src="img/footer-ico-twitter.png" alt="" /></a></li>
                <li><a href="#" target="_blank"><img src="img/footer-ico-dribble.png" alt="" /></a></li>
                <li><a href="#" target="_blank"><img src="img/footer-ico-vimeo.png" alt="" /></a></li>
                <li><a href="#" target="_blank"><img src="img/footer-ico-google.png" alt="" /></a></li>
            </ul>
        </div>

        <div class="col-md-12 mx-auto d-flex justify-content-center">
            <p class="copy">Pepperweb 2017 - All Rights Reserved</p>
        </div>


      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
    <script>
      $(document).ready(function(){

          $(".filter-button").click(function(){
              var value = $(this).attr('data-filter');

              if(value == "all")
              {
                  //$('.filter').removeClass('hidden');
                  $('.filter').show('1000');
              }
              else
              {
      //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
      //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                  $(".filter").not('.'+value).hide('3000');
                  $('.filter').filter('.'+value).show('3000');

              }
          });

          if ($(".filter-button").removeClass("active")) {
      $(this).removeClass("active");
      }
      $(this).addClass("active");

      });
    </script>
{% endblock %}
