{% extends 'admin_base.html.twig' %}
{% block body %}
<div class="row">
  <div class="col-sm-12">
    <div id="orders">Loading...</div>
  </div>
</div>
{% endblock %}


{% block javascripts %}
<script>
$(function() {
    $('#orders').initDataTables({{ datatable_settings(datatable) }});
});
</script>

{% endblock %}
