{% extends 'base.html.twig' %}

{% block title %}Edit GigImages{% endblock %}

{% block body %}
    <h1>Edit GigImages</h1>

    {{ include('gig_images/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gig_images_index') }}">back to list</a>

    {{ include('gig_images/_delete_form.html.twig') }}
{% endblock %}