{% extends 'admin_base.html.twig' %}

{% block title %}New GigImages{% endblock %}

{% block body %}

    {{ include('gig_images/_form.html.twig') }}

    <a href="{{ path('gigs_show',{id:gig_image.gig.id}) }}">back to list</a>
{% endblock %}
